.title-project {
  position: relative;
  top: 12vh;
  left: 6vw;
  width: 20vw;
  display: flex;
  text-align: center;
  white-space: normal;
}

.title-project-mobile {
  position: relative;
  /* bottom: 70vh; */
  width: 100%;
  display: flex;
  text-align: center;
  white-space: normal;
}

.text-project {
  position: relative;
  top: 20vh;
  left: 6vw;
  width: 20vw;
  display: flex;
  text-align: center;
  white-space: normal;
}

.text-project-mobile {
  position: relative;
  /* bottom: 70vh; */
  left: 10%;
  width: 80%;
  display: flex;
  text-align: center;
  white-space: normal;
}

.screen-project {
  position: relative;
  top: -40vh;
  left: 30vw;
  width: 50vw;
  height: 50vh;
}

.screen-project p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
