#btn-contact {
  display: flex;
  width: 13vw;
  color: #EDEDED;
  z-index: 2;
  position: relative;
  top: 60vh;
  left: 30vw;
  border-radius: 5px;
  padding: 0.5vw;
  cursor: pointer;
}

#btn-contact-mobile {
  display: flex;
  justify-content: center;
  width: 45%;
  color: #EDEDED;
  z-index: 2;
  position: absolute;
  bottom: 1%;
  left: 1%;
  border-radius: 5px;
  padding: 0.2em;
  cursor: pointer;
}

#btn-contact p {
  margin: 0 auto;
}

#btn-contact:hover {
  color: #938E8E;
}

#btn-contact-mobile:hover {
  color: #938E8E;
}
