#photo-me {
  display: flex;
  position: absolute;
  width: 25vw;
  top: 15vh;
  left: 66.5vw;
}

#photo-me-mobile {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0vh;
}

.photo-size {
  width: 100%;
}

.photo-size-mobile {
  width: 100%;
  height: auto;
}
