/* -- Screen -- */

.screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

/* ----------------------------*/
/* ----------------------------*/

/* -- Fonts & Sizes -- */

.anonymous-pro-bold {
  font-family: 'Anonymous Pro', monospace;
  font-weight: bold;
}

.anonymous-pro {
  font-family: 'Anonymous Pro', monospace;
}

.caveat {
  font-family: 'Caveat', cursive;
}

.mid-txt {
  font-size: 1.5em ;
}

.xlarge-txt {
  font-size: 4em;
}

.large-txt {
  font-size: 2.5em;
}

.width-15vw {
  width: 15vw;
}

/* ----------------------------*/
/* ----------------------------*/

/* -- Display -- */

.flex {
  display: flex;
}

.block {
  display: block;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

/* ----------------------------*/
/* ----------------------------*/

/* -- Link -- */

.link {
  text-decoration: none;
  color: #423F3F;
}

.link:hover {
  color: #938E8E;
  transition: ease 200ms;
}

/* ----------------------------*/
/* ----------------------------*/

/* -- Position -- */

.center {
  justify-content: center;
  align-items: center;
}
.txt-center{
  text-align: center;
}


/* ----------------------------*/
/* ----------------------------*/

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
