/* -- Screen -- */

.screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

/* ----------------------------*/
/* ----------------------------*/

/* -- Fonts & Sizes -- */

.anonymous-pro-bold {
  font-family: 'Anonymous Pro', monospace;
  font-weight: bold;
}

.anonymous-pro {
  font-family: 'Anonymous Pro', monospace;
}

.caveat {
  font-family: 'Caveat', cursive;
}

.mid-txt {
  font-size: 1.5vw ;
}

.xlarge-txt {
  font-size: 4vw;
}

.large-txt {
  font-size: 3vw;
}

.width-15vw {
  width: 15vw;
}

/* ----------------------------*/
/* ----------------------------*/

/* -- Display -- */

.flex {
  display: flex;
}

.block {
  display: block;
}

/* ----------------------------*/
/* ----------------------------*/

/* -- Link -- */

.link {
  text-decoration: none;
  color: #423F3F;
}

.link:hover {
  color: #938E8E;
  transition: ease 200ms;
}

/* ----------------------------*/
/* ----------------------------*/

/* -- Position -- */

.center {
  justify-content: center;
  align-items: center;
}

/* ----------------------------*/
/* ----------------------------*/
