.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 84%;
  width: 84%;
  height: 88%;
  position: absolute;
  top: 12vh;
  right: 8vw;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
  height: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.slide-mobile {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Buttons */
.slideshowDots {
  text-align: center;
}
.slideshowDot {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  border: 0.01vw solid #423F3F;
  position: relative;
  z-index: 5;
  top: -8vh;
}

.slideshowDot.active {
  background-color: #423F3F;
}
